Increment 1/TestCases/TestCases/Web References/ServiceReference1/Webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="User_Registration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dob" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="User_RegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_RegistrationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="User_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="User_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organization_Registration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organization_RegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Organization_RegistrationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organization_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organization_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Organization_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="User_RegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:User_Registration" />
  </wsdl:message>
  <wsdl:message name="User_RegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:User_RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="User_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:User_Login" />
  </wsdl:message>
  <wsdl:message name="User_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:User_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:Organization_Registration" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:Organization_RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Organization_Login" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:Organization_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="User_RegistrationHttpGetIn">
    <wsdl:part name="firstname" type="s:string" />
    <wsdl:part name="lastname" type="s:string" />
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="User_RegistrationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="User_LoginHttpGetIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="User_LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationHttpGetIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginHttpGetIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="User_RegistrationHttpPostIn">
    <wsdl:part name="firstname" type="s:string" />
    <wsdl:part name="lastname" type="s:string" />
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="dob" type="s:string" />
    <wsdl:part name="gender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="User_RegistrationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="User_LoginHttpPostIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="User_LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationHttpPostIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Organization_RegistrationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginHttpPostIn">
    <wsdl:part name="emailid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Organization_LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebserviceSoap">
    <wsdl:operation name="User_Registration">
      <wsdl:input message="tns:User_RegistrationSoapIn" />
      <wsdl:output message="tns:User_RegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <wsdl:input message="tns:User_LoginSoapIn" />
      <wsdl:output message="tns:User_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <wsdl:input message="tns:Organization_RegistrationSoapIn" />
      <wsdl:output message="tns:Organization_RegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <wsdl:input message="tns:Organization_LoginSoapIn" />
      <wsdl:output message="tns:Organization_LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebserviceHttpGet">
    <wsdl:operation name="User_Registration">
      <wsdl:input message="tns:User_RegistrationHttpGetIn" />
      <wsdl:output message="tns:User_RegistrationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <wsdl:input message="tns:User_LoginHttpGetIn" />
      <wsdl:output message="tns:User_LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <wsdl:input message="tns:Organization_RegistrationHttpGetIn" />
      <wsdl:output message="tns:Organization_RegistrationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <wsdl:input message="tns:Organization_LoginHttpGetIn" />
      <wsdl:output message="tns:Organization_LoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebserviceHttpPost">
    <wsdl:operation name="User_Registration">
      <wsdl:input message="tns:User_RegistrationHttpPostIn" />
      <wsdl:output message="tns:User_RegistrationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <wsdl:input message="tns:User_LoginHttpPostIn" />
      <wsdl:output message="tns:User_LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <wsdl:input message="tns:Organization_RegistrationHttpPostIn" />
      <wsdl:output message="tns:Organization_RegistrationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <wsdl:input message="tns:Organization_LoginHttpPostIn" />
      <wsdl:output message="tns:Organization_LoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebserviceSoap" type="tns:WebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="User_Registration">
      <soap:operation soapAction="http://tempuri.org/User_Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <soap:operation soapAction="http://tempuri.org/User_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <soap:operation soapAction="http://tempuri.org/Organization_Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <soap:operation soapAction="http://tempuri.org/Organization_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceSoap12" type="tns:WebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="User_Registration">
      <soap12:operation soapAction="http://tempuri.org/User_Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <soap12:operation soapAction="http://tempuri.org/User_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <soap12:operation soapAction="http://tempuri.org/Organization_Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <soap12:operation soapAction="http://tempuri.org/Organization_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceHttpGet" type="tns:WebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="User_Registration">
      <http:operation location="/User_Registration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <http:operation location="/User_Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <http:operation location="/Organization_Registration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <http:operation location="/Organization_Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceHttpPost" type="tns:WebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="User_Registration">
      <http:operation location="/User_Registration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Login">
      <http:operation location="/User_Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Registration">
      <http:operation location="/Organization_Registration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organization_Login">
      <http:operation location="/Organization_Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservice">
    <wsdl:port name="WebserviceSoap" binding="tns:WebserviceSoap">
      <soap:address location="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceSoap12" binding="tns:WebserviceSoap12">
      <soap12:address location="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceHttpGet" binding="tns:WebserviceHttpGet">
      <http:address location="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceHttpPost" binding="tns:WebserviceHttpPost">
      <http:address location="http://vhost1135.site1.compute.ihost.com/aspnet_client/Registration/Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>